<!doctype html>
<html>
	<head>
    <title>Angular - Directives</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../../reveal/css/reset.css">
		<link rel="stylesheet" href="../../reveal/css/reveal.css">
		<link rel="stylesheet" href="../../reveal/css/theme/softhouse.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../../reveal/lib/css/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        <section>
          <h2>Angular</h2>
          <h4>Directives</h4>
        </section>

        <section>
          <h3>Directives</h3>
          <ul>
            <li>A Directive is a Component without a template.</li>
            <li>Directives are mainly used to manipulate the dom</li>
          </ul>
        </section>

        <section>
          <h3>Different kinds of directives</h3>
          <ul>
            <li><b>Component</b> - Directive with a template.</li>
            <li><b>Attribute directives</b> - change the appearance or behavior of an element, component, or another directive.</li>
            <li><b>Structural directives</b> - change the DOM layout by adding and removing DOM elements.</li>
          </ul>
        </section>

        <section>
          <ul>
            <li>Attribute Directives - Sits on elements like attributes -changes the properties of that element.</li>
            <li>* Structural Directives - Also changes the DOM around it (*ngIf, *ngFor)</li>
          </ul>
        </section>

        <section>
          <img src="../../media/ang-4/directives.png" alt="directives">
        </section>

        <section>
          <h3><a href="https://angular.io/guide/cheatsheet">Cheat sheet</a></h3>
        </section>

        <section>
          <h3>Example of making own directive</h3>
        </section>

        <section>
          <h3>Documentation</h3>
          <ul>
            <li><a href="https://angular.io/guide/attribute-directives">Attribute Directives</a></li>
            <li><a href="https://angular.io/guide/structural-directives">Structural Directives</a></li>
          </ul>
        </section>

			</div>
		</div>

		<script src="../../reveal/js/reveal.js"></script>
		<script src="../../initialize.js"></script>
	</body>
</html>
