.header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  top: 0;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: lightcoral;
  position: fixed;
  bottom: 0;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}


.dialog {
  width: 300px;
  height: 300px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -150px;
  background-color: red;
}