<app-comp-binding></app-comp-binding>
<!-- <app-comp-styling></app-comp-styling> -->
<!-- <app-lifecycle-hooks></app-lifecycle-hooks> -->
<!-- <app-comp-dynamic></app-comp-dynamic> -->
<!-- <app-dir></app-dir> -->
<!-- <app-elements></app-elements> -->
<!-- <app-mod></app-mod> -->
<!-- <app-pip></app-pip> -->
<!-- <app-serv></app-serv> -->
<!-- <app-b-routing></app-b-routing> -->
<!-- <app-a-routing></app-a-routing> -->
<!-- <app-template-forms></app-template-forms> -->
<!-- <app-template-forms-validation></app-template-forms-validation> -->
<!-- <app-rctive-forms></app-rctive-forms> -->
<!-- <app-rctive-forms-validation></app-rctive-forms-validation> -->
<!-- <app-ang-http></app-ang-http> -->