<app-4-comp-binding></app-4-comp-binding>
<!-- <app-5-comp-styling></app-5-comp-styling> -->
<!-- <app-5-lifecycle-hooks></app-5-lifecycle-hooks> -->
<!-- <app-6-directives></app-6-directives> -->
<!-- <app-7-modules></app-7-modules> -->
<!-- <app-8-pipes></app-8-pipes> -->
<!-- <app-9-services></app-9-services> -->
<!-- <app-10-basic-routing></app-10-basic-routing> -->
<!-- <app-10-advanced-routing></app-10-advanced-routing> -->
<!-- <app-11-template-forms></app-11-template-forms> -->
<!-- <app-11-template-forms-validation></app-11-template-forms-validation> -->
<!-- <app-11-reactive-forms></app-11-reactive-forms> -->
<!-- <app-11-reactive-forms-validation></app-11-reactive-forms-validation> -->
<!-- <app-12-http></app-12-http> -->