<!doctype html>
<html>
	<head>
		<title>Angular Exercises</title>
		<meta charset="utf-8">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script src="https://kit.fontawesome.com/c76ec7eeb0.js" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../style.css">
		
		<script src="../../libs/jquery/jquery.min.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>


		<script src="../../libs/showdown/showdown.min.js"></script>

		<link rel="stylesheet" href="../../github-markdown.css">
		
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-lg">
			<a class="navbar-brand" href="https://www.softhouse.se">
				<?xml version="1.0" encoding="utf-8"?>
				<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 928 179" style="enable-background:new 0 0 928 179;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#FFFFFF;}
				</style>
				<g>
					<path class="st0" d="M795,121.4c-9.5,4.3-6.3,24.8-15.8,31.6c-5.3,3.8-31,4-34.3-3.8c-4.7-11.1,30.2-28.8,23.5-38.9
						c-8.6-12.9-58.5-8.8-61.6-18c-1-3.1,7-17.5,17.7-18.8c11.8-1.9,31.6,19.9,48.2,19.4c32.2-1.1,34.9-51.8,58.5-58
						c20.7-5.4,37.6-1.6,38.8,7.3c2.2,17.3-59.7,45.1-55.8,59.8c4.9,18.6,74.6,26.4,73.8,41.5c-0.4,7.2-13.7,12.5-25.1,9.6
						C840.6,147.4,818.1,111,795,121.4 M866.5,166.7c20.8,6.4,53.4,1.7,54.2-13.4c1.5-30.6-93.3-36.1-99.1-53
						c-3.8-11.2,85.4-49.2,83.1-73.3c-1.4-15.1-33.7-18-62.2-12.1C787.6,26,807.3,84,772.8,86.7c-14.9,1.2-32.8-26.1-54.2-26.1
						c-13.9,0-33,25.6-30.3,33.2c5.8,16.9,63.6,6.4,73.2,20.1c5.8,8.2-36,26.9-27.8,45.2c4.6,10.2,40.9,14.6,52.1,5
						c9.3-7.9,4.9-34.5,12.1-37.7C814.7,119,839.5,158.4,866.5,166.7"/>
					<path class="st0" d="M62.8,101.3H21.3v9.8h30.5c9.3,0,12.2,2.2,12.2,11v6.4c0,8.7-2.9,11-12.2,11H11v-8.7h42.7l0-10.7H23.3
						c-9.2,0-12.3-2.2-12.3-11v-5.1c0-8.8,3.1-11,12.3-11h39.4V101.3z"/>
					<path class="st0" d="M571.8,101.3h-41.4v9.8h30.5c9.3,0,12.2,2.2,12.2,11v6.4c0,8.7-2.9,11-12.2,11H520v-8.7h42.7v-10.7h-30.4
						c-9.2,0-12.3-2.2-12.3-11v-5.1c0-8.8,3.1-11,12.3-11h39.4V101.3z"/>
					<path class="st0" d="M81.5,103.9v24.5c0,8.8,2.9,11,12.2,11H130c9.2,0,12.2-2.2,12.2-11v-24.5c0-8.9-3-11-12.2-11H93.7
						C84.5,92.9,81.5,95,81.5,103.9 M93,101.5h37.9v29H93V101.5z"/>
				</g>
				<polygon class="st0" points="159.8,92.9 209.3,92.9 209.3,101.3 171.3,101.3 171.3,113.4 197.2,113.4 197.2,122.1 171.3,122.1
					171.3,139.5 159.8,139.5 "/>
				<polygon class="st0" points="256.5,139.5 245.1,139.5 245.1,101.3 222.6,101.3 222.6,92.9 279.3,92.9 279.3,101.3 256.5,101.3 "/>
				<polygon class="st0" points="292.5,92.9 304,92.9 304,110.6 339.7,110.6 339.7,92.9 351.2,92.9 351.2,139.5 339.7,139.5
					339.7,119.9 304,119.9 304,139.5 292.5,139.5 "/>
				<g>
					<path class="st0" d="M368.6,103.9v24.5c0,8.8,2.9,11,12.2,11h36.3c9.2,0,12.2-2.2,12.2-11v-24.5c0-8.9-3-11-12.2-11h-36.3
						C371.6,92.9,368.6,95,368.6,103.9 M380.1,101.5h37.8v29h-37.8V101.5z"/>
					<path class="st0" d="M458.3,130.8H491V92.9h11.5v35.5c0,8.7-3,11-12.3,11h-31.1c-9.3,0-12.2-2.3-12.2-11V92.9h11.4V130.8z"/>
				</g>
				<polygon class="st0" points="590.5,92.9 640.9,92.9 640.9,101.2 602.1,101.2 602.1,111.3 627.1,111.3 627.1,119.4 602.1,119.4
					602.1,130.8 641.5,130.8 641.5,139.5 590.5,139.5 "/>
				</svg>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav m-auto">
					<script src="../../navigation.js"></script>
				</ul>
			</div>
    </nav>

		<div style="margin-top: 100px; border-radius: 15px;" class="container bg-light p-5 mb-5">
			<section class="markdown-body" data-markdown>
          ## 10. Angular - Routing

### Steg för steg

I denna uppgift skall ni skapa tre komponenter som vi väljer att visa beroende på hur vi har satt upp vår routing/navigation. Följ stegen nedan.

1. Skapa ett nytt angular projekt med Angular CLI ```ng new routertest```
(OBS välj yes när frågan “Would you like to add Angular routing?" kommer!)

1. ```cd routertest```

1. starta angular applikationen på en lokal webbserver och öppna i webbläsaren ```ng serve --open```

1. Öppna en ny tab eller ett nytt teminal/commandLine fönster och navigera till routertest projektet

1. Skapa en komponent som heter startPage ```ng generate component startPage```

1. Skapa en komponent som heter newsFlow ```ng generate component newsFlow```

1. Skapa en komponent som heter newsArticle ```ng generate component newsArticle```

1. Skapa en komponent som heter pageNotFound ```ng generate component pageNotFound```

1. Om vi öppnar projektet ser vi att vi har fått en ```app-routing.module.ts``` fil som angular CLI har skapat åt oss. Det är här vi kommer sätta upp vår routing. Och det är i route arrayen vi anger våra routes, så börja med att lägga till följande:

```
import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { StartPageComponent } from './start-page/start-page.component';

const routes: Routes = [
 { path: '', component: StartPageComponent },
];

@NgModule({
 imports: [RouterModule.forRoot(routes)],
 exports: [RouterModule]
})
export class AppRoutingModule { }
```

Detta innebär att om vi anger en tom path i vår URL så kommer applikationen att rendera ```startPage``` komponenten.

10. Vart den renderas någonstans bestämmer vi genom att ange ```<router-outlet></router-outlet>``` någonstans i applikationen. Vi har den i ```app.component.html``` för tillfället. Se till så att din app.component.html ser ut som nedan:
```
<div style="text-align:center">
 <h1>
   Welcome to {{ title }}!
 </h1>
</div>

<router-outlet></router-outlet>
```

Testa så att det fungerar och att "start-page works!" skrivs ut på sidan. Vi har ni skapat vår första route.

11. Vi skall nu lägga till en ny route som vi skall navigera till. vi lägger till: <br/>
 ```{ path: 'news', component: NewsFlowComponent }``` i routes arrayen (glöm inte att importera NewsFlowComponent).
 
12. Prova nu att skriva localhost:4200/news i URLen. Din vy skall nu ändras.

 Vi har nu navigerat med hjälp av att skriva in något i adressfältet, men det går även att navigera med hjälp av länkar och i våra klasser. 
 
13. Gå till start-page.component.html och lägg in följande:<br/>
```<a>profile</a>``` och lägg till ```routerLink="/profile" routerLinkActive="active"``` som attribut i denna.

14. Testar vi nu detta så ser vi att det har skapats en länk om vi går till “/" i startpage. ```routerLinkActive``` gör så att om denna routen är aktiv så får länken klassen “active".

15. Vill vi navigera genom ren logik inuti en komponent så använder vi oss av Router som vi importerar och injectar. Se till så att er ```start-page.component.ts``` ser ut som följande och lägg till en knapp i ```start-page.component.html``` som kallar på ```onNavigate()```.
```
import { Component, OnInit } from '@angular/core';
import { Router } from '@angular/router';

@Component({
 selector: 'app-start-page',
 templateUrl: './start-page.component.html',
 styleUrls: ['./start-page.component.css']
})
export class StartPageComponent implements OnInit {

 constructor(private router: Router) {
 }

 ngOnInit() {
 }

 onNavigate(): void {
   this.router.navigate(['/news']);
 }
}
```

16. Lägg nu till ```{ path: '**', component: PageNotFoundComponent }``` i ```app-routing.module``` (OBS denna skall ligga sist i arrayen).


17. Genom att ange ** i pathen så innebär detta att om vi försöker navigera till en route som inte finns så kommer denna att visas. Så skulle vi exempelvis skriva in ```/profile``` i urlen så kommer PageNotFound att renderas. Prova i webbläsaren.

18. Vi skall nu skapa lite olika nyheter på news-flow sidan. Detta gör vi genom att skapa en egenskap i form av en array av object i ```news-flow.component.ts```
```news:Object[] = [{id: 1,title:'New President'}, {id: 2, title:'Active vulcano'}, {id:3, title:'Manchester United wins'}];```

Denna skall vi nu skriva ut med hjälp av direktivet ```*ngFor```, och det är en lista med länkar vi vill skriva ut. Lägg till nedan i ```news-flow.component.html```

**OBS! ```ngfor``` skall vara ```ngFor```
```
<ul>
 <li *ngFor="let article of news">
   <a>{{article.title}}</a>
 </li>
</ul>
```

Lägg även till  ```[routerLink]="['/article', article.id]"``` inuti ```<a>```taggen.</br></br>

Klickar vi nu på en länk så kommer vi navigera till article/12 om id är 12. För att detta skall fungera så måste vi lägga till den nya routen i ```app-routing.module.ts```

```{ path: 'article/:id', component: NewsArticleComponent},```

När vi nu navigerar till vår artikel så vill vi nu skriva ut vilket id vi har skickat med. För att komma åt detta i news-article.component.ts så behöver vi importera den ActivatedRoute i ```news-article.component.ts```. Vi injektar sedan denna in constructorn. ActivatedRoute har en egenskap som heter params som är av typen BehaviourSubject som vi kommer gå igenom längre fram i kursen. Det vi gör nu är att prenumerera på denna genom subscribe metoden. Vi tar sedan detta värde och sparar i ```this.newsId```.

```JavaScript
import { Component } from '@angular/core';
import { ActivatedRoute } from '@angular/router';

@Component({
 selector: 'app-news-article',
 templateUrl: './news-article.component.html',
 styleUrls: ['./news-article.component.css']
})
export class NewsArticleComponent {

 newsId:string;

 constructor(private route: ActivatedRoute) {
    this.route.params.subscribe(params => {
       this.newsId = params.id;
    })
 }
}
```

Vi kan nu skriva ut id't i ```news-article.component.html``` -> id is {{newsId}}

Kika på [https://angular-2-training-book.rangle.io/handout/routing/routeparams.html](https://angular-2-training-book.rangle.io/handout/routing/routeparams.html) för att fördjupa er i hur man skickar parametrar med routes.
         
			</section>
		</div>
		
		<script src="../../markdown.js"></script>
	</body>
</html>

