<div class="container">
  <div>
      {{diagnostic}}

    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="userModel.name" name="name" #name="ngModel" #spy >
        {{spy.className}}
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <select
          class="form-control" id="age"
          [(ngModel)]="userModel.age" name="age"
          #age="ngModel"
        >
          <option *ngFor="let age of ages" [value]="age">{{age}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>