<div class="container">
  <div>
    <h1>User Form</h1>
    <!-- userForm is now available throughout the form-->
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"
          id="name"
          required
          email
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
          #spy
          >
          {{spy.className}}
          {{name.valid}}
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
          {{name.valid}}
        </div>
      </div>

      <div class="form-group">
        <label for="age">User age</label>
        <select class="form-control"
          id="age"
          required
          min="18"
          [(ngModel)]="model.age"
          name="age"
          #age="ngModel"
          (change)="check(age)"
          >

          <option *ngFor="let age of ages" [value]="age">{{age}}</option>
        </select>
        <div [hidden]="age.valid"  class="alert alert-danger">
          You have to be 18 years old
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model.name }}</div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3">Age</div>
    <div class="col-xs-9">{{ model.age }}</div>
  </div>
</div>
