body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 40px;
}

.header {
	font-weight: 24px;
	color: #444;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
	width: 630px;
	height: 310px;

	/* One way to set columns and rows */
	grid-template-columns: 150px 150px 150px 150px;
	grid-template-rows: 150px 150px;

	/* Another way to set columns and rows */
	/* grid-template-columns: repeat(4, [col] 150px );
	grid-template-rows: repeat(2, [row] 150px  ); */

	/* Another way to set columns and rows */
	/* grid-template-columns: repeat(4, [col] 1fr );
	grid-template-rows: repeat(2, [row] 1fr  ); */

	/* Another way to set columns and rows */
	/* grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%; */

	/* Another way to set columns and rows */
	/* grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; */

	/* Another way to set columns and rows */
	/* grid-template: 150px 150px / 150px 150px 150px 150px; */

	background-color: lightcoral;
	color: #444;
	border-radius: 5px;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
	box-sizing: border-box;
}
    
.a {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

/* .a {
	grid-column: 2/2;
	grid-row: 1/3;
} */

/* .b {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
} */